#card {
	background-color: var(--components-background);
	box-shadow: var(--components-boxshadow);
	height: 500px;
	width: 300px;
	margin: 20px;
	margin-top: 20px;
	border-radius: 15px;
	display: inline-block;
}

label::after{
	content: ': ';
}

label {
	margin-left: 10px;
	float: left;
	width: 130px;
}

input {
	width: 130px;
	float: right;
	margin-right: 10px;
}

