


.header_h1 {
    
    text-align: center;
    font-size: 64px;
    width: 900px;
    font-weight: 600;
}

.header_container {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    text-align: center;
    color: hsla(0, 100%, 99%, 0.8);
}

.smaller_text_wrapper {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: hsla(0, 100%, 99%, 0.6);
    margin-top: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.smaller_text {
    font-size: 22px;
    width: 450px;
    
}
