.header_h1 {
    text-align: center;
    font-size: 64px;
    width: 900px;
    font-weight: 600;
}
.header_wrapper{
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    text-align: center;
    color: hsla(0, 100%, 99%, 0.8);
}

.smaller_text_wrapper {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: hsla(0, 100%, 99%, 0.6);
    margin-top: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.smaller_text {
    font-size: 22px;
    width: 450px;
}

.get_started_btn {
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 6px;
    background: hsl(246, 100%, 68%, 0.7);

    font-family: 'Inter', sans-serif;
    /* letter-spacing: 1px; */
    color: snow;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0 2px 5px hsla(0, 0%, 0%, 0.4), inset 0 2px 1px hsl(0, 100%, 99%, 0.2), inset 0 -2px 1px hsl(0, 0%, 0%, 0.2);
    cursor: pointer;
    transition: all 100ms;
}

.get_started_btn:active {
    background: hsla(246, 39%, 50%, 0.7);
}

.get_started_btn_container {
    display: flex;
    justify-content: center;
}

.core_features_header {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    margin-top: 100px;
}

.core_features_wrapper {
    display: flex;
    justify-content: center;
    gap: 100px;
}

