.navbar_container {
    font-family: "Inter", sans-serif;
    color: snow;
    /* outline: 2px solid green; */
    height: 70px;
    width: 90vw;
    margin: 0 auto;
    margin-top: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.2), 0 5px 5px hsla(0, 0%, 0%, 0.2), inset 0 1px 1px hsla(0, 0%, 100%, 0.2);
}

#logo {
    font-weight: 900;

    width: 130px;
    height: 60px;
    position: absolute;
    left: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    font-weight: 900;
}

.links_container {
    margin: 0 auto;
    gap: 20px;
}
.links {
    margin: 0 20px 0 20px;
    text-decoration: none;
    background: none;
    color: snow;
}

.sign_in_button {
    background: none;
    border: none;
    outline: 1px solid rgba(255, 255, 255, 0.3);
    height: 54px;
    width: 130px;
    position: absolute;
    right: 5.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 6px;
    font-weight: 600;
    color: snow;
    box-shadow: inset 0 -10px 30px hsla(0, 0%, 100%, 0.15);
    cursor: pointer;
    transition: all 100ms;
}

.sign_in_button:hover {
    box-shadow: inset 0 -10px 30px hsla(0, 0%, 100%, 0.25), 0 0 10px hsl(0, 100%, 100%, 0.8);
}

.sign_in_button:active {
    box-shadow: inset 0 -10px 30px hsla(0, 0%, 100%, 0.35), 0 0 15px hsl(0, 0%, 100%);
}

#home_link:hover,
#home_features:hover,
#home_pdf:hover,
#home_sms:hover,
#home_about:hover {
    text-shadow: 0 0 10px hsl(0, 100%, 100%, 1);
}
