#nav_container {

    background-color: var(--components-background);
    box-shadow:  var(--components-boxshadow);
    border-radius: 15px;
    text-align: center;
    padding: 5px  20px  5px 20px;
    width: 420px;
    /* height: 58px; */
    margin: 0 auto;


}

p{
    display: inline-block;
}