#nav_container {

    background-color: #350469;
    box-shadow:  10px 10px 20px rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    text-align: center;
    padding: 5px  20px  5px 20px;
    width: 420px;
    /* height: 58px; */
    margin: 0 auto;


}

p{
    display: inline-block;
}