.icon {
	cursor: pointer;
}

#icon_holder{
    display: inline-block;
    /* outline: 2px solid red; */
    margin: 0px 15px 0 15px;
    width: 46px;
    height: 46px;
    align-content: center;
    border-radius: 10px;

    transition: background-color 150ms;
}

#icon_holder:hover {
    background-color: hsla(269, 93%, 30%, 0.541);
}

#icon_holder:active {
    background-color: hsla(269, 93%, 40%, 0.541);
}