:root {
	min-height: 60rem;
	color: #ebe7ef;
	background: radial-gradient(#642777, #3a0061);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	display: flex;
	justify-content: center;

  margin: 0;
  padding: 0;
}
